In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#reading dataset 
df = pd.read_csv('melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13518 non-null float64
Landsize         13580 non-null float64
BuildingArea     7130 non-null float64
YearBuilt        8205 non-null float64
CouncilArea      12211 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [4]:
df.isna().sum()  #Finding if number of NaN value in each column

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [5]:
#Now we will select only those columns that has no Nan values and are not string type like address
df=df[['Rooms','Distance','Bedroom2','Bathroom','Car','Landsize','Price']]
df= df.dropna(axis=0)   #for dropping  row containing Nan Value

In [6]:
X=df[['Rooms','Distance','Bedroom2','Bathroom','Car','Landsize']]
Y=df['Price']

In [7]:
X.head()

   Rooms  Distance  Bedroom2  Bathroom  Car  Landsize
0      2       2.5       2.0       1.0  1.0     202.0
1      2       2.5       2.0       1.0  0.0     156.0
2      3       2.5       3.0       2.0  0.0     134.0
3      3       2.5       3.0       2.0  1.0      94.0
4      4       2.5       3.0       1.0  2.0     120.0

In [8]:
Y.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

In [9]:
# Train test split 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25,random_state = 19)

In [10]:
#Building Model
from sklearn.tree import DecisionTreeRegressor
tree=DecisionTreeRegressor(random_state=19)
tree.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=19, splitter='best')

In [16]:
#getting predictions
y_pred=tree.predict(x_test)
y_pred[:5]

array([1251000., 1300000., 3900000., 1064000.,  665000.])

In [14]:
#Calculating Accuracy 
from sklearn.metrics import r2_score, mean_squared_error
print("MSE is ",mean_squared_error(y_test, y_pred))
print("R2 score is ",r2_score(y_test, y_pred))

MSE is  291189207600.5162
R2 score is  0.2773690275021303